.home {
  background-color: black;
  color: white;
  width: 20rem;
  height: 3rem;
  padding-top: 11px;
  padding-left: 14px;
  border-radius: 20px;
}

.header {
  color: white;
}

.verify_email {
  width: 12rem;
  border-radius: 35px;
  margin-top: 10px;
}
